bin/Debug/net6.0/Sistema de Estacionamento.deps.json
bin/Debug/net6.0/Sistema de Estacionamento.dll
bin/Debug/net6.0/Sistema de Estacionamento.exe
bin/Debug/net6.0/Sistema de Estacionamento.pdb
bin/Debug/net6.0/Sistema de Estacionamento.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/Sistema de Estacionamento.csproj.nuget.dgspec.json
obj/Sistema de Estacionamento.csproj.nuget.g.props
obj/Sistema de Estacionamento.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Sistema de Estacionamento.AssemblyInfo.cs
obj/Debug/net6.0/Sistema de Estacionamento.AssemblyInfoInputs.cache
obj/Debug/net6.0/Sistema de Estacionamento.assets.cache
obj/Debug/net6.0/Sistema de Estacionamento.csproj.AssemblyReference.cache
obj/Debug/net6.0/Sistema de Estacionamento.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Sistema de Estacionamento.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Sistema de Estacionamento.dll
obj/Debug/net6.0/Sistema de Estacionamento.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Sistema de Estacionamento.genruntimeconfig.cache
obj/Debug/net6.0/Sistema de Estacionamento.GlobalUsings.g.cs
obj/Debug/net6.0/Sistema de Estacionamento.pdb
obj/Debug/net6.0/ref/Sistema de Estacionamento.dll
obj/Debug/net6.0/refint/Sistema de Estacionamento.dll
.vscode/launch.json
.vscode/tasks.json
